<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div class="container position-relative">
  <div class="top-right-buttons">
    <button class="btn btn-outline-primary" th:onclick="|location.href='@{/mlb/mlbSchedule}'|">
      MLB 경기 일정 정보
    </button>
    <button class="btn btn-outline-primary" th:onclick="|location.href='@{/mlb/mlbScore}'|">
      MLB 순위
    </button>
    <button>MLB 경기 결과</button>

    <button class="btn btn-dark" th:onclick="|location.href='@{/myPage}'|" style="margin-left: auto;">
      마이페이지
    </button>
  </div>

  <div class="py-5 text-center">
    <h2>KBO 구단 게시판</h2>
  </div>

  <div class="row row-cols-2 row-cols-md-5 g-4">
    <div class="col" th:each="team : ${teams}">
      <div class="team-card" th:onclick="|location.href='@{/board/{teamId}(teamId=${team.id})}'|">
        <img th:src="@{${team.mascotImg}}" class="mascot-img" alt="마스코트">
        <div class="team-info">
          <img th:src="@{${team.logoImg}}" class="team-logo" alt="로고">
          <span th:text="${team.name}">팀 이름</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
